[Unit]
Description=Reset Coprocessor
After=local-fs.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/wallaby_reset_coproc

[Install]
WantedBy=multi-user.target
