[Unit]
Description=wifi
After=multi-user.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/python /usr/bin/wifi_configurator.py

[Install]
WantedBy=graphical.target
